table {
  position: center;
  text-align: center;
  width: 100%
}

td{
  border-bottom:1px solid grey;
}

h2 {
  position: center;
  text-align: center;
}

html{
  font-family: 'Montserrat', sans-serif;
}
