table {
  position: center;
  text-align: center;
  border:1px solid grey;
  background-color: red;
  width: 100%
}

h2 {
  position: center;
  text-align: center;
}

html{
  font-family: 'Montserrat', sans-serif;
}
